.setColFil {
    display: inline-block;
    position: absolute;
    left: 200px;
    min-width: 600px;
    color: red;
}
#dropZone {
    text-align: center;
    max-width: 580px;
    width: 100%;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border: 1px dashed red;

}

#editor {
    width: 300px;
    height: 100px;
    margin: 10px;
    padding: 10px;
}

#tableFrame {
    max-width: 600px;
    width: 100%;
    height: 200px;
    margin: 10px;
}

table#info {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
}

table>tbody>tr>td {
    border: 1px solid darkgray;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 80px ;
    text-align: center;
}

.dataCell {
    border: 1px solid darkgray;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 80px ;
    text-align: center;
}

.nameCell{
    border: 1px solid darkgray;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 80px ;
    text-align: center;
    background: aquamarine;
}
.sumRow{
    border: 1px solid darkgray;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 80px ;
    text-align: center;
    background: yellow;
}
#names>td{
    background: aquamarine;
}

body.information{
    margin:0;
}

#sortList{
    min-width: 100px;
}
#selectFilter {
    display: inline-block;
}
.select-char{
    height: 150px;
    width: 200px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
}

.colorForm-p{
    display: block;
    float:left;
    width: 200px ;
    margin-bottom: 3px;
}
